<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <script class="" src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
  </head>
  <body>
    <div class="p-4">
      <h1 class="text-4xl mt-6 font-bold">Welcome Username</h1>
      <p class="py-4">You haven't created any elections yet!</p>
      <p class="underline"><a class="text-blue-600" href="/elections/new">Create a new election</a></p>
    </div>
  </body>
</html>
