<h1 class="text-4xl mt-6 font-bold" style="text-align: center">
  Online Voting Platform
</h1>
<% if(isSignedIn)  { %>
    <h1 class="text-end underline py-4"><a href="/voterSignout"> Sign out </a></h1>
  <% } %>
