<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link rel="stylesheet" href="./css/style.css">
    <script class="" src="https://cdn.tailwindcss.com"></script>
    <title>
        <%= title %>
    </title>

</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
        </div>
    </div>
    <hr class="mt-8">
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <div class="py-8">
                <p class="py-2 ">
                    Don't have an account ? 
                    <a class="text-blue-600" href="/signup">Sign Up</a>
                </p>
                <p class="py-2 ">
                    Already have an account ?
                    <a class="text-blue-600" href="/login">Sign In</a>
                </p>
            </div>
      </div>
</body>
</html>