<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link rel="stylesheet" href="./css/style.css" />
    <script class="" src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <h1 class="text-4xl mt-6 font-bold"><%= electionTitle %> - Questions</h1>
        <p class="py-4 text-lg">You have 0 questions in the ballot.</p>
        <p class="underline">
            <a class="text-blue-600 text-lg" href="/elections/<%= id %>/questions/new"
              >Create a questions</a
            >
          </p>
      </div>
    </div>
  </body>
</html>
