<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link rel="stylesheet" href="/css/style.css" />
    <script class="" src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <h1 class="mt-6 text-4xl font-bold" style="text-align: center">
          Online Voting Platform
        </h1>
      </div>
    </div>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <h1 class="text-4xl mt-6 font-bold">Election Results</h1>
        <p class="mt-6 text-lg">
          Your data will be here.
        </p>
      </div>
    </div>
  </body>
</html>
