<h1 class="mt-6 text-4xl font-bold" style="text-align: center">
  Online Voting Platform
</h1>
<% if(isSignedIn) { %>
<h1 class="text-end text-blue-600 py-4"><a href="/signout/voters"> Sign out </a></h1>
<% } %>